<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Buddy Match</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    {% extends "base.html" %}

    {% block content %}
    <div class="container">
        <h2 class="text-center mt-5">Your Travel Match</h2>
        <h3>Matching Travel Buddies:</h3>
        <ul class="list-group">
            {% for buddy in buddies %}
            <li class="list-group-item">
                <strong>{{ buddy.name }}</strong> - Interested in traveling to {{ buddy.destination }} for some {{
                buddy.interest }} from {{ buddy.start_date }} to {{ buddy.end_date }}.
            </li>
            {% else %}
            <li class="list-group-item">No matching travel buddies found at the moment.</li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}


</body>

</html>